#
# ~/.shell.local
#

# A more colourful prompt
export PS1='\[\033[1;31m\]\h#\[\033[0m\] '

# W3C Tidy
alias tidy="tidy -config $HOME/.tidyrc"

# Combine pwgen & passwdqc
pwgen_check() { pwgen $@ | pwqcheck -1 --multi; }

# dmesg filter to omit printk timestamps (if dmesg -t is not available yet)
npk() { sed 's/^\[[ 0-9\.]*\] //'; }

##### MacOS X
if [ -d /opt/local/bin ]; then
	export PATH=/opt/local/sbin:/opt/local/bin:$PATH
fi

# On MacOS X, TMPDIR changes every time Terminal.app starts
export SCREENDIR=$HOME/.screen

# More MacOS X shortcuts
alias top="top -o cpu"
alias df="df -P"
alias shuf="perl -MList::Util=shuffle -e 'print shuffle(<STDIN>);'"

# Android SDK
# alias      adb="/Applications/Non-Apple/AndroidSDK/sdk/platform-tools/adb"
# alias fastboot="/Applications/Non-Apple/AndroidSDK/sdk/platform-tools/fastboot"

# Enable "Secure Keyboard" for MacOS X
# https://security.stackexchange.com/questions/47749/how-secure-is-secure-keyboard-entry-in-mac-os-xs-terminal
# https://developer.apple.com/library/mac/technotes/tn2150/
defaults write com.apple.Terminal SecureKeyboardEntry 1

# https://gist.github.com/648188
function pwdx {
        lsof -a -p $1 -d cwd -n | tail -1 | awk '{print $NF}'
}
